.edit-modal {
  position: fixed;
  font-family: 'Libre BaskerVille', Arial, serif;
  top: 50%;
  left: 50%;
  
  /*'scale' makes it so the modal is invisible*/
  transform: translate(-50%, -50%) scale(0);

  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
  z-index: 500;
  background-color: white;
  width: 500px;
  max-width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  /*'ease' provides smooth transition for the modal to appear*/
  transition: 150ms ease;
}

.edit-modal.active {
  /*changing 'scale' to 1 makes the modal visible*/
  transform: translate(-50%, -50%) scale(1);
}

.edit-modal-header {
  /* top right bottom left */
  padding: 6px 12px 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-color: rgb(198, 198, 198);
}

.back-button {
  background-color: rgb(210, 72, 252);
  color: white;
  border-style: none;
  margin-right: 12px;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;

  transition: opacity 0.15s,
  background-color 0.1s;
}

.back-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.back-button:active {
  background-color: rgb(139, 47, 168);
}

.edit-modal-header .edit-modal-title {
  font-size: 26px;
  font-weight: 700;
  padding-top: 8px;
}

.edit-modal-header .edit-modal-close-button {
  background-color: rgb(252, 72, 72);
  color: white;
  border-style: none;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;

  transition: opacity 0.15s,
  background-color 0.1s;
}

.edit-modal-header .edit-modal-close-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.edit-modal-header .edit-modal-close-button:active {
  background-color: rgb(184, 35, 35);
}



/*the # is for selecting an id instead of class*/
#edit-modal-overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  /* 
  this makes it so the overlay doesn't 
  capture our click events when not active
  */
  pointer-events: none;

  /*'ease' provides smooth transition for the modal to appear*/
  transition: 150ms ease;
}

#edit-modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}