header {
  font-family: 'Libre Baskerville', Arial, serif;
  font-size: 62px;
  font-weight: 700;
  background-color: red;
  margin: 30px 0px 0px 30px;
}

body {
  margin-bottom: 1000px;
  background-color: greenyellow;
}